body {
    background-color: black;
    background-image: url("bg.png");
    color: white;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 20px;
}

h2 {
    margin-top: 3em;
    text-align: center;
}


.unit {
    margin-left: 10px;
}


.clock {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.slice {
    /* width: 5em; */
    margin: 10px;
    text-align: center;
}

.very-big {
    font-size: 4em;
}
